html{
    height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color:getColour(light)!important;
}

/*footer*/
footer{
  flex-shrink: 0;
  margin-top: 100px;

 
 
}
.wrapperA{
  flex: 1 0 auto;
}