h1{
    margin-top: 50px;
    margin-bottom: 30px;
}
.indexContainer{
    .carousel-item img{
        height: 300px;
        width: 300px;
        margin-bottom: 30px;
    }
}

.jumbotron-img{
    background-size: cover;
}